* {
  transition: .35s;
}

body {
  height: 101vh;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 10px;
}

hr {
  width: 80%;
  border: 1px solid rgba(255, 255, 255, .1);
}

h1 {
  font-weight: 700;
}

h4 {
  font-weight: 300;
  margin-top: 4vh;
}


/* Over-rides on A-Canvas */

.a-canvas, canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.a-enter-vr {
  display: none !important;
}

.menu-toggle {
  z-index: 300;
  position: absolute;
  bottom: 100px;
  left: 48%;
  width: 60px;
  background-color: transparent;
  text-align: center;
}

.overlay-menu {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(106, 23, 255, .95);
  opacity: 0;
  text-align: center;
}

.visible {
  z-index: 200;
  opacity: 1;
}

.menu-wrapper {
  margin-top: 20vh;
  color: white;
}

@media (max-width: 768px) {
  .menu-wrapper{
    margin-top: 15vh;
  }
}

.overlay-menu img {
  width: auto;
  height: 120px;
  padding: 24px;
}

.available-on{
  margin-top: 5vh;
}

.available-on img {
  height: 40px;
  opacity: .7;
}

.available-on img:hover {
  opacity: 1;
}

/* Additional Content */

.footer-overlay {
  position: absolute;
  top: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  color: white;
}


.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  background-color: rgba(36, 11, 87, 1);
}


/* Navigation Icon Animations */
#nav-icon {
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
}

#nav-icon span:nth-child(odd) {
  left:0px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}